.column-1{display: inline-block;
vertical-align: text-top;
width: 40%;
padding: 20px;
}
.column-2{display: inline-block;
vertical-align: text-top;
width: 40%;
padding: 20px;
}

h1{
  text-align: center;
  font-family: "Helvetica";
  }

header{font-size: 16pt;}

footer{text-align: center;
font-family: "Arial";}

h2{color: Blue;}