blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

body {
  max-width: 960px;
  margin-right: 10%;
  margin-left: 10%
}

#external-links {
  width: 20%;
  display: inline-block;
  vertical-align: text-top;
  padding: 10px;
 
}

.m1 {
  position: relative;
  width: 70%;
  display: inline-block;
  vertical-align: text-top;
  padding: 10px;
  align-self: center;
  float: right;

  
}

@media screen and (max-width: 500px) {
  .m1 {
    font-size: 0.7em;
    z-index: 1;
    display: inline;
  }

  #external-links {
    display: inline;
    z-index: -1;

  }
}

@media screen and (min-width: 1200px) {
  .m1 {
    font-size: 1.3em;
  }
}

