h1 {font-family: "Helvetica";
color: "DarkOrange";}
h2 {font-family: "Helvetica";
color: "DarkOrange";}
p {font-family: "Helvetica"}
body {background-color: "DarkSlateGray";
margin-left: 5%;
margin-right: 5%;}
#intro {border-width: 5px;}
.support { border-width: 3px;}
div {position: absolute;
top: 10px;
right: 10px;}