h1 {font-family: "Helvetica";
color: "DarkOrange";}
h2 {font-family: "Helvetica";
color: color: "DarkOrange";}
p {font-family: "Helvetica"}
body {background-color: "DarkSlateGray"}
#intro {border-width: 5px;}
.support { border-width: 3px;}